server/dumps/
server/mods/deathmatch/system
server/mods/deathmatch/databases
server/mods/deathmatch/resource-cache
server/mods/deathmatch/internal.db
server/mods/deathmatch/registry.db
server/mods/deathmatch/banlist.xml
server/mods/deathmatch/local.conf
server/mods/deathmatch/vehiclecolors.conf
*.rar
*.zip
*.7z
*.png
*.jpg
*.jpeg
*.dff
*.txd
*.col
*.img
*.ifp
*.bat
*.exe
